body {
    background-color: #f4f0e8;
    margin-top: 15px;
}

.view-card {
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}


.my-sidebar {
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

a {
    color: #5e3a7f;
}
