<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Run.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TALReruns.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_812</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
